# python practice

In [ ]:
'''Ques1. Write a python program that defines a function called "add_numbers"that 
takes two arguments (i.e. numbers) and returns their sum . Within the
function, add the two numbers together and return usinfg the return statement. Call
the function with the values 5 and 6, and printt out the returned result. This will result in the
addition of 5 and 6, with the output of the program being the sum of these numbers'''


def add_numbers(num1,num2):
    sum= num1+num2
    return sum

add=add_numbers(3,4)
print(add)


def add_numbers(num1,num2):
    sum = num1+num2
    return sum

print(add_numbers(34,5))

In [ ]:
'''Ques2 write a python program that calculates the square rooot of a given number
using a built-in function. specifically, the program should take an integer or
float input from the user, calculate its square root using the 'sqrt()' function
from the 'math' module, and print out the result to the user. As an example , calculate
the square root of the number 625 using this program, which should output the value of 25.'''


import math

number=625

sqrt_number= math.sqrt(number)
print('this is a square rooot of ', number ,'is', sqrt_number)


import math
def num_sqt(num):
    num=math.sqrt(num)
    return num

print('the square root of 34 is',num_sqt(34))

In [ ]:
''' Ques3. Write a program that print all prime numbers between 0 to 50.'''

for number in range(2,51):
    is_prime = True
    for i in range(2,number):
        if number %i ==0:
            is_prime=False
            break
    if is_prime:
        print(number)

In [ ]:
for number in range(2,51):
    is_prime =True
    for i in range(2,number):
        if number % i ==0:
            is_prime = False
            break
    if is_prime:
            print(number)

In [ ]:
for number in range(2,51):
    is_prime = True
    for i in range(2,number):
        if number %i ==0:
            is_prime = False
    if is_prime:
        print(number)

In [ ]:
''' Ques4. How can we swap the values of three variables (let's say a,b,c)without
using a fourth variable? for example, if we have a=5,b=8,and c=9, how 
we obtain a=9,b=5,c=8? The challlenge is to perform this operation without using an additional
variable to store any of the values during the swapping process.'''


a = 5
b=8
c=9

a,b,c=c,a,b

print('a=',a)
print('b=',b)
print('c=',c)

x=10
y=34
z=3234

x,y,z=y,x,z
print('x',x)
print('y',y)
print('z',z)

In [ ]:
'''
5. Can you write a program that determines the nature of a given number
(in this case, 87) as being positive, negative,
or zero? The program should be designed to take 
the number as input and perform the necessary 
calculations to determine if the number is positive
(i.e., greater than zero), negative (i.e., less than
zero), or zero (i.e., equal to zero). The output of
the program should indicate which of these three
categories the given number falls into.
'''


number= int(input('enter the number'))

if number ==0:
    print('the number is zero')
elif number<0:
    print('the number is negative')
else:
    if number > 0:
        print('the number is positive')

In [ ]:
'''
6. How can you create a program that determines
whether a given number (in this case, 98) is even 
or odd? The program should be designed to take the 
number as input and perform the necessary calculations
to determine whether it is divisible by two. If the 
number is divisible by two without leaving a remainder,
it is an even number, and if there is a remainder, it
is an odd number. The output of the program should
indicate whether the given number is even or odd.

'''

number = int(input('enter the number'))

if number %2==0:
    print('the number is even')
else:
    print('the number is odd')

In [ ]:
'''
7. Write a program for sum of digits.the digits 
are 76543 and the output should be  25.
'''

num = 76543
sum_=0
while num >0:
    sum_ +=num %10
    num//=10
    
print('the sum of digits is :',sum_)

In [ ]:
7%10

In [ ]:
7//10

In [ ]:
10//7

In [ ]:
10%7 # returnig remainder

In [ ]:
10/7  # simple divide

In [ ]:
10//7  # returning the left side integer

In [ ]:
10%7  # returning the remainder, when first is greater

In [ ]:
7%10 # return same no. if first no. is smaller than second

In [ ]:
8%10

In [ ]:
3%10

In [ ]:
~12

In [ ]:
~-8

In [1]:
7//10

0

In [ ]:
6//10

In [ ]:
5//10

In [1]:
num=34534656
sum_=0
while num>0:
    sum_ +=num%10
    num//=10
print('the sum of the number is :',sum_)

the sum of the number is : 36

In [13]:
num =876968
sum_=0
while num > 0:
    sum_ +=num%10
    num//=10
    
print('the sum of digits is :',sum_)

the sum of digits is : 44

In [ ]:
'''
8. Write a program for reversing the given number 
5436 and the output  should be 6345.
'''

num =5436
reverse =0
while num>0:
    # extract the rightmost digit of the number
    digit = num % 10
    # add the extracted digit to reverse number 
    reverse = (reverse *10) + digit
    # remove the rightmost digit from the number
    num//10
print('this reversed number is :',reverse)

In [5]:
'''9.Write a program to check  a given number 371 is
an Armstrong number?'''

# armstrong number = An Armstrong number is a number such that the sum
# ! of its digits raised to the third power is equal to the number
# ! itself.  For example, 371 is an Armstrong number, since
# ! 3**3 + 7**3 + 1**3 = 371.
# ! -------------------------

# function to check if a number is an armstrong number
def is_armstrong(num):
    # get the number of digits in the given number
    num_str = str(num)
    num_digits = len(num_str)
    # calculate the sum of the cubes of each digit
    sum_of_cubes = sum([int(digit)**num_digits for digit in num_str])
    
    # check if the sum of the cubes is equal to the original number
    if sum_of_cubes ==num:
        return True
    else:
        return False
    
# test the function with the number 371
num =371
if is_armstrong(num):
    print(num,'is an armstrong number')
else:
    print(num, 'is not an armstrong number')

371 is an armstrong number

In [7]:
# Function to check if a number is an armstrong number
def is_armstrong(num):
    # get the number of digits in the given number
    num_str =str(num)
    num_digit = len(num_str)
    
    # calculate the sum of the cubes of each digits
    sum_of_cubes = sum([int(digit)**num_digit for digit in num_str])
    
    # check if the sum of the cubes is equal to the original number
    if sum_of_cubes ==num:
        return True
    else:
        return False
    
    # Test the function with the number 371
num =371
if is_armstrong(num):
    print(num,'is an armstrong number')
else:
    print(num,'is not an armstrong number')

371 is an armstrong number

In [9]:
'''10. Write a program the given year is 
1996  a leap year.'''

# 1996%100=96

year =1996
if (year %4 ==0 and year%100 !=0) or (year%400 ==0):
    print(year , 'is a leap year')
else:
    print(year,'is not a leap year')

1996 is a leap year

In [10]:
1996%4 ==0

True

In [11]:
year %100 !=0 # if the numbe is divisble by year then , that year cannot be a leap year

True

In [12]:
year%400==0

False

In [13]:
year=1996
if (year%4==0 and year !=100 ) or (year %400==0):
    print(year,'is a leap year')
else: 
    print(year ,'is not a leap year')

1996 is a leap year

In [ ]:
SSSSS